body{
  background-color: #ffffff;
  background-image: url("./images/background.svg");
  background-attachment: fixed;
  background-size: cover;
}
::-webkit-scrollbar {
    width: 7px;
  }
     
::-webkit-scrollbar-thumb {
    background: #000835; 
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #000835d8; 
  }